[package]
authors = [
    "Anthony DiMarco <ocramida@gmail.com>",
    "Jimmy Cuadra <jimmy@jimmycuadra.com>",
    "Matthew Mayer <matthewkmayer@gmail.com>",
    "Nikita Pekin <contact@nikitapek.in>"
]
build = "build.rs"
description = "AWS SDK for Rust - Core"
documentation = "https://docs.rs/rusoto_core"
keywords = ["AWS", "Amazon"]
license = "MIT"
name = "rusoto_core"
readme = "README.md"
repository = "https://github.com/rusoto/rusoto"
version = "0.40.0"
homepage = "https://www.rusoto.org/"
exclude = ["test_resources/*"]
edition = "2018"

[badges]
appveyor = { repository = "rusoto/rusoto", branch = "master" }
azure-devops = { project = "matthewkmayer/Rusoto", pipeline = "rusoto.rusoto", build="1" }

[build-dependencies]
rustc_version = "0.2.1"

[dependencies]
bytes = "0.4.12"
futures = "0.1.16"
hmac = "0.7.1"
http = "0.1.17"
hyper = "0.12"
hyper-tls = { version = "0.3.0", optional = true }
hyper-rustls = { version = "0.17.1", optional = true }
lazy_static = "1.0"
log = "0.4.1"
md5 = "0.3.6"
base64 = "0.9"
hex = "0.3"
serde = "1.0.2"
serde_derive = "1.0.2"
serde_json = "1.0.2"
sha2 = "0.8.0"
time = "0.1.35"
url = "1.6.0"
tokio = "0.1.7"
tokio-timer = "0.2.6"
xml-rs = "0.7"

[dependencies.rusoto_credential]
path = "../credential"
version = "0.40"

[dependencies.clippy]
optional = true
version = "0.0"

[dev-dependencies]
env_logger = "0.5"
rand = "0.4.2"
serde_json = "1.0.1"
serde_test = "1.0.1"

[features]
default = ["native-tls"]
nightly-testing = ["rusoto_credential/nightly-testing"]
native-tls = ["hyper-tls"]
rustls = ["hyper-rustls"]
unstable = []
