[package]
authors = ["Matt Jones <mthjones@gmail.com>"]
description = "Generates crates for AWS services for the rusoto project"
name = "rusoto_service_crategen"
version = "0.1.0"

[dependencies]
clap = "2.23.3"
rayon = "0.7.0"
serde = "1.0.0"
serde_derive = "1.0.0"
serde_json = "1.0.0"
toml = "0.4.0"
rustfmt = "0.8.4"

[dependencies.rusoto_codegen]
path = "codegen"