<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=struct.SdkConfigurationProperty.html">
</head>
<body>
    <p>Redirecting to <a href="struct.SdkConfigurationProperty.html">struct.SdkConfigurationProperty.html</a>...</p>
    <script>location.replace("struct.SdkConfigurationProperty.html" + location.search + location.hash);</script>
</body>
</html>